@import "sanitize";
@import "sanitize/forms";
@import "sanitize/typography";

body::backdrop {
  background-color: #fafafa;
}

@media print {
  body {
    background-color: #fff;
  }
}

h3,
h4,
h5,
h6 {
  margin: 0;
}